server:
  port: 8081
  servlet:
    session:
      timeout: 30m
      cookie:
          http-only: true
          secure: true

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/usmsecondhand?serverTimezone=Asia/Singapore
    username: root
    password: cmt322g16 # 你的真实线上密码
  web:
    resources:
      static-locations: classpath:/static/,file:${file.upload-dir}

    # 3. Jackson 时间格式化（确保线上订单时间显示正确）
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Singapore

file:
  upload-dir: /var/www/uploads/ # AWS Linux 路径
  domain: https://usm-compus-swap.duckdns.org/api # 你的真实域名

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    # 生产环境建议关闭详细日志，提升性能
    # log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete
      logic-delete-value: 1
      logic-not-delete-value: 0

